.app-container {
  display: flex;
  height: 100vh;
}

.canvas {
  flex: 1;
  background-color: #efefef;
}

.properties-panel {
  width: 250px;
  padding: 20px;
  background-color: #f4f4f4;
  border-left: 1px solid #ccc;
}

.transform-group {
  margin-bottom: 20px;
}

.input-group {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.input-group label {
  width: 20px;
  font-weight: bold;
}

.input-group input {
  width: 60px;
  margin-left: 10px;
}